{% form_theme form 'bootstrap_3_layout.html.twig' %}
<div class="container-fluid">
    <div class="row">
        <h1><i class="fa fa-bomb"></i> {{  __('Break It! (Form Demo Controller)') }}</h1>
        <div class="alert alert-info">This is a Demo of the Symfony Form component used within Zikula.</div>
        {{ getstatusmsg() }}
        {{ form_start(form) }}
        {{ form_errors(form) }}

        {{ form_row(form.task) }}
        {{ form_row(form.dueDate) }}
        {{ form_widget(form.save, {'attr': {'class': 'btn btn-success'}}) }}
        {{ form_end(form) }}
    </div>
    <div class="row">
        <h2>Existing Tasks</h2>
        <table class="table table-condensed table-striped">
            <thead>
                <tr><th>#</th><th>Task</th><th>Due Date</th></tr>
            </thead>
            <tbody>
            {% for task in tasks %}
                <tr><td>{{ task.id }}</td><td>{{ task.task }}</td><td>{{ task.duedate|date("m/d/Y") }}</td></tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>