{% stylesheets '@ZikulaBreakItModule/Resources/public/css/*' filter='cssrewrite' %}
<link rel="stylesheet" href="{{ asset_url }}" />
{% endstylesheets %}
<div class="container-fluid">
    <div class="row">
        <h1><i class="fa fa-bomb"></i> {{  __('Break It! (New Controller)') }}</h1>
        {# display flash messages (only errors) #}
        {% for message in attribute(app.session.flashBag, 'get', ['error']) %}
            <div class="alert alert-danger">{{ message }}</div>
        {% endfor %}
        <div class="col-xs-12 col-md-6">
            <div class="well well-lg text-center">
                <div class="alert alert-info text-left">
                    <ul>
                        <li>Environment: {{ app.environment }}</li>
                        <li>Debug: {{ app.debug|yesno }}</li>
                        <li>Zikula shorturls: {{ ZConfig.shorturls|yesno }}</li>
                        <li>Zikula stripentrypoint: {{ ZConfig.shorturlsstripentrypoint|yesno }}</li>
                        <li>Zikula User logged In: {{ ZUserLoggedIn|yesno }}</li>
                    </ul>
                </div>
                <a class="btn btn-primary btn-lg btn-block" href="{{ app.request.baseUrl }}/I/AM/INVALID" role="button">Open invalid route</a>
                <a class="btn btn-primary btn-lg btn-block" href="{{ app.request.baseUrl }}/index.php?module=invalid&type=user&func=main" role="button">Open invalid url (old-style)</a>
                <div class="btn-group btn-block" style="padding-bottom:1em;">
                    <button type="button" class="btn btn-primary btn-lg dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                        &nbsp;&nbsp;Throw Standard...&nbsp;&nbsp;&nbsp;<span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="{{ path('zikulabreakitmodule_new_index', {'break': 'AccessDeniedException'}) }}">AccessDeniedException</a></li>
                        <li><a href="{{ path('zikulabreakitmodule_new_index', {'break': 'NotFoundHttpException'}) }}">NotFoundHttpException</a></li>
                        <li><a href="{{ path('zikulabreakitmodule_new_index', {'break': 'RouteNotFoundException'}) }}">RouteNotFoundException</a></li>
                        <li><a href="{{ path('zikulabreakitmodule_new_index', {'break': 'InvalidArgumentException'}) }}">InvalidArgumentException</a></li>
                        <li><a href="{{ path('zikulabreakitmodule_new_index', {'break': 'FatalErrorException'}) }}">FatalErrorException</a></li>
                        <li><a href="{{ path('zikulabreakitmodule_new_index', {'break': 'RuntimeException'}) }}">RuntimeException</a></li>
                        <li><a href="{{ path('zikulabreakitmodule_new_index', {'break': 'Exception'}) }}">Exception</a></li>
                    </ul>
                </div>
                {% include 'ZikulaBreakItModule::ajaxform.html.twig' %}
            </div>
        </div>
        <div class="col-xs-12 col-md-3">
            <div class="well well-sm text-center">
                <a class="btn btn-default btn-sm btn-block" href="{{ path('zikulabreakitmodule_user_index') }}" role="button">Old controller</a>
                <a class="btn btn-default btn-sm btn-block" href="{{ app.request.baseUrl }}/index.php?module=breakit&type=user&func=break" role="button">Old controller (unrouted)</a>
                <a class="btn btn-default btn-sm btn-block" href="{{ path('zikulabreakitmodule_new_index') }}" role="button">New controller</a>
                <a class="btn btn-info btn-sm btn-block" href="{{ path('zikulabreakitmodule_form_test') }}" role="button">Form Demo</a>
            </div>
            <h3 class="breakit-test">Is Stylesheet Active?</h3>
            <div class="alert alert-info">If the stylesheet is active, the text above should be Bold, italic and all caps.</div>
            {% image '@ZikulaBreakItModule/Resources/public/images/cartoon-evil-bomb.jpg' %}
            <img src="{{ asset_url }}" alt="Example" />
            {% endimage %}
        </div>
    </div>
</div>
<!-- Modal -->
<div class="modal fade" id="breakItModal" tabindex="-1" role="dialog" aria-labelledby="breakItModalLabel" aria-hidden="true">
    <div class="modal-dialog {% if app.environment == 'dev' %}modal-lg{% endif %}">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title" id="breakItModalLabel">Ajax Result</h4>
            </div>
            <div class="modal-body">
                ...
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
{# jquery autoincluded see \JCSSUtil::prepareJavascripts #}
{% javascripts '@ZikulaBreakItModule/Resources/public/js/*' %}
<script type="text/javascript" src="{{ asset_url }}"></script>
{% endjavascripts %}